.file-list-item {
    width: 100%;
    border: 1px solid var(--gray);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px var(--gray);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-left: 3px solid var(--blue);
    padding-left: 10px;
}

.file-list-item:last-child {
    margin-bottom: 15px;
}

.close_14x14 {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: white;
    padding: 4px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid var(--gray);
    margin-right: 8px;
}

.close_14x14:hover {
    opacity: 0.8;
}

.file-input-label.disable {
    opacity: 80px;
    background: var(--grayish);
    cursor: not-allowed;
}

.iid-container {
    display: flex;
    overflow: hidden;
}

.iid-container._avatar {
    height: 175px;
}

.image-input-placeholder {
    position: absolute;
    object-fit: cover;
    height: 125px;
    outline: none;
    border: 0;
    border-width: 0px;
    padding-top: "10px";
    padding-bottom: "10px";
    width: 99.5%;
    outline-color: white;
    margin: auto;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

.image-input-placeholder._avatar {
    height: 170px;
    width: 175px;
}

.image-input-decoration {
    border-radius: 50%;
    margin: auto;
    background: white;
    opacity: 0.7;
    height: 100px;
    width: 100px;
    padding-top: 17px;
    // padding-bottom: 10px;
}
