.subject-item {
  position: relative;
  // margin-right: 10px;
  border-radius: 5px;
  // padding: 5px;
  height: fit-content;
  background: white;
  min-width: calc(33.4% - 10px);
  border: 1px var(--gray) solid;
  user-select: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subject-item .image-container {
  border-bottom: 3px solid var(--blue);
}

.subject-item .image {
  width: 160px;
  height: 130px;
  padding: 5px;
  margin-bottom: 0px;
  box-sizing: border-box;
  object-fit: cover;

}

.subject-item .title-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0px;
  box-sizing: border-box;
  height: 35px;
}


.subject-item .title {
  height: 24px;
  font-family: "RobotoSlab-Medium";
  font-weight: 400;
  font-size: 20px;
  color: var(--light-black);
  line-height: 24px;
}

.save-btn {
  width: 24px;
  height: 24px;
}

// .save-btn-container {
//   display: flex;
//   height: 20px;
// }