@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

.user-profile {
    position: relative;
    // background: green;
}

.user-profile .cover-image {
    height: 10rem;
    object-fit: cover;

    width: 100%;
}

.profile-cover {
    height: 7.5rem;
    background: #f1f4fc;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    object-fit: cover;
}

.edit-profile-avatar-container {
    margin-right: 1rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    height: 12rem;
    width: 12rem;
}

.edit-profile-avatar {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.edit-profile-avatar-container .overlay {
    background: #535a60;
    height: 2rem;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    bottom: 0px;
    display: flex;
    cursor: pointer;
}

.base-info-sub-container {
    padding: 2rem;
    padding-top: 0rem;
    height: 9rem;
    display: flex;
    margin-top: -6.5rem;
    position: relative;
}

.user-profile .base-info-container {
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
    margin-bottom: 10px;
}

.info-sub-container {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    margin-left: 10px;
    height: fit-content;
}

.user-profile .avatar {
    position: relative;
    min-width: 8rem;
    width: 8rem;
    min-height: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.25rem white solid;
    box-shadow: 0px 0px 0.2rem 0px var(--gray);
}

.user-profile .info-sub-container-left {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.follow-btn {
    display: flex;
    overflow: hidden;
    margin-top: 1rem;
    border: rgba(white, 0.8);
    box-sizing: border-box;
}

.follow-btn-left {
    display: flex;
    background: white;
    padding: 0.3rem;
    padding-top: 0.1rem;
    padding-left: 0.6rem;
    padding-bottom: 0.1rem;
    border: 1px solid var(--blue);
}

.follow-btn-left-text {
    display: flex;
    background: white;
    padding: 0.3rem;
    padding-left: 0px;
    padding-top: 0.15rem;
    color: var(--blue);

    padding-bottom: 0.15rem;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 1rem;
}

.follow-btn-right {
    @extend .follow-btn-left-text;
    background: var(--blue);
    color: white;
    padding: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.user-profile .avatar:hover {
    box-shadow: none;
    opacity: 100%;
}

.avatar-container .avatar-overlay {
    opacity: 0%;
    position: absolute;
    margin-top: -3rem;
    height: 3rem;
    width: 6rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 3rem;
    font-family: "BarlowCondensed-Medium";
}

.avatar-container.view .avatar-overlay {
}

.avatar-container.edit .avatar-overlay {
    background: var(--black);
    cursor: pointer;
}

.avatar-container.edit:hover .avatar-overlay {
    opacity: 80%;
}

.user-profile .display-name {
    display: -webkit-box;
    min-width: 300px;
    max-width: 300px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.8rem;
    margin-top: -0.2rem;
    font-family: "RobotoSlab-Medium";
    font-size: 1.5rem;
    color: var(--black);
    line-height: 1.8rem;
}

.about-me {
    font-family: "BarlowCondensed-SemiBold";
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid var(--gray);
}

.followed-icon {
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}

.followed-button {
    border-radius: 0.25rem;
    border: 1px solid var(--gray);
    width: 7rem;
    display: flex;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-top: 1rem;
}

.followed-button.active {
    background-color: var(--light-gray);
}

.account-information-follow-dropdown {
    margin-top: 0.2rem;
    position: absolute;
    transition: all 0.5;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border: 1px solid var(--gray);
    user-select: none;
    background: white;
    box-shadow: 0px 0px 1px 0px var(--gray);
    width: 7rem;
}

.about-me-detail {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    padding-bottom: 0.6rem;
    line-height: 1.2rem;
}

.follow-menu-item {
    position: relative;
    box-sizing: border-box;
    font-family: "BarlowCondensed-Medium";
    font-size: 1rem;
    user-select: none;
    box-sizing: border-box;
    color: var(--black);
    text-decoration: none !important;
    outline: 0px;
    line-height: 1rem;
    margin-top: 0.1rem;
    cursor: pointer;
    margin-bottom: 0.2rem;
    transition: all 0.2s ease;
    width: 100%;
    padding: 0.1rem;
    padding-left: 0.2rem;
}

.follow-menu-item:hover {
    color: var(--blue);
}
