
.Show_Layout_Bounding_Layout {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    // background: green;
}

.Account_Information_Bounding_Layout {
    width: 60%;
    padding: 5px;
}

.Account_Information_Layout {
    border: 1px var(--gray) solid;
    border-radius: 5px;
    border-top: 5px solid var(--blue);
    // background: pink;
    padding: 10px;
    width: 100%;
}

.Account_Information_Update_Password_Layout {
    border: 1px var(--gray) solid;
    border-radius: 5px;
    border-top: 5px solid var(--blue);
    width: 100%;
}

.Account_Information_Avatar_Layout {
    display: flex;
    justify-content: space-between;
}

.Account_Information_Avatar_Image {
    margin: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

// Role and achivement port:
.Account_Information_Role_achivement-layout {
    padding-left: 10px;
    padding-right: 10px;
}

.Account_Information_achivement-layout {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'BarlowCondensed-Medium';
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    width: 100%;
}

.Account_Information_Achivement_Post_Doc_Count_Layout {
    display: flex;
    // width: 50%;
    width: 200px;
    justify-content: space-between;
}

//exclusive for update avatar
.fileContainer p {
    margin: auto;
    text-align: center;
    font-size: 16px !important;
}

.fileUploader .fileContainer .chooseFileButton {
    background: var(--blue) !important;
    font-family: "BarlowCondensed-Medium";
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px;
    height: 25px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
    border-radius: 5px !important;
}

.fileContainer .deleteImage {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: var(--red);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    line-height: 24px !important;
    width: 24px !important;
    font-size: 12px !important;
    height: 24px !important;
}