/* Menu bar */
.c-title-bar {
    display: flex;
    border-bottom: 5px var(--blue) solid;
    width: 100%;
    user-select: none;
}

.main-title {
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: var(--blue);
}

.c-title-bar+.scroller-container {
    border-bottom: 50px solid white; //fake size for scroller

}

.setting-title {
    margin-left: 1rem;
    margin-right: 1rem;

    margin-top: 1rem;
    padding-bottom: 0.3rem;
    font-weight: 700;
    font-size: 1.1rem;
    width: calc(100%-1rem);
    border-bottom: 1px solid var(--gray);
}

.c-title-bar .modal-close-icon {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    top: 14px;
    cursor: pointer;
}

.c-title-bar .modal-close-icon:hover {
    opacity: 80%;
}