/* Menu bar */
.title-bar {
    display: flex;
    border-bottom: 5px var(--blue) solid;
    width: 100%;
    user-select: none;
}

.main-title {
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: var(--blue);
}

.title-bar+.scroller-container {
    border-bottom: 40px solid white; //fake size for scroller

}

.title-bar .modal-close-icon {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    top: 14px;
    cursor: pointer;
}

.title-bar .modal-close-icon:hover{
    opacity: 80%;
}