@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rosario:wght@300&display=swap');

.user-item {
    position: relative;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-repeat: no-repeat;
    border: 1px var(--gray) solid;
    display: flex;
    user-select: none;
}

.user-info {
    position: relative;
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    user-select: none;
    color: var(--black);
}

.user-item .edit-icon {
    height: 1.4rem;
    margin-left: 0.6rem;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 1px solid white;
}

.user-item .edit-icon:hover {
    background: var(--light-gray);
    border: 1px solid var(--blue);
}

.user-info .post-count-container,
.user-info .document-count-container {
    height: 1.5rem;
}

.reputation-container {
    display: flex;
}

.user-info .reputation-sub-container {
    display: flex;
    min-width: 60px;
    width: fit-content;
    cursor: pointer;
    max-width: 80px;
    margin-right: 2px;
}

.user-info .reputation-label {
    margin-top: 1px;
    font-size: 18px;
    padding-left: 3px;
    color: var(--light-black)
}

.user-item .avatar {
    min-width: 4.5rem;
    min-height: 4.5rem;
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border: 1px solid var(--grayish);
}

.user-item .display-name {
    display: -webkit-box;
    width: fit-content;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: var(--black);
    line-height: 1.4rem;
    margin-bottom: 0px !important;
}

.user-item .email {
    font-family: "Rosario";
    font-size: 1rem;
    line-height: 1em;
    height: 1em;

    display: flex;
    color: rgba(0, 0, 0, 0.5);

}

.user-item-icon {
    width: 24px;
    height: 24px;
    padding: 2px;
}

.user-info-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 2px;
}

.user-item .score {
    position: relative;
    width: 8rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.user-item .document-count,
.user-item .post-count {
    position: relative;
    width: 2.4rem;
    height: 1.5rem;
    padding-left: 0.25rem;
    line-height: 1.5rem;

}

.user-item .achievement-bar {
    display: flex;
    font-family: "BarlowCondensed-Medium";
    font-size: 1rem;
    justify-content: space-between;
}