.user-item {
    position: relative;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-repeat: no-repeat;
    border: 1px var(--gray) solid;
    border-top: 3px var(--grayish) solid;
    border-radius: 5px;
    display: flex;
    user-select: none;
}

.user-info {
    position: relative;
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    user-select: none;
    color: var(--black);
}

.user-info .post-count-container,
.user-info .doc-count-container {
    height: 24px;

}

.reputation-container {
    display: flex;
}

.user-info .reputation-sub-container {
    display: flex;
    min-width: 60px;
    width: fit-content;
    cursor: pointer;
    max-width: 80px;
    margin-right: 2px;
}

.user-info .reputaion-label {
    margin-top: 1px;
    font-size: 18px;
    padding-left: 3px;
    color: var(--light-black)
}

.user-item:hover,
.user-itemL:active {
    border: 1px white solid;
    border-top: 3px var(--blue) solid;
    box-shadow: 0px 0px 5px 1px var(--gray);
}

.user-item-name {
    width: fit-content;
    height: 25px;
    font-family: "RobotoSlab-Bold";
    font-size: 20px;
    line-height: 26px;
    display: flex;
    color: var(--black);
    padding-right: 20px;
}

.user-item_Edit_Btn {
    width: 140px;
    display: flex;
    background: #dddddd;
    padding: 3px;
    border-radius: 5px;
}

.user-item_Edit_Btn_Element {
    position: relative;
    padding-top: 2px;
    padding-left: 2px;
    width: 25px;
    height: 25px;
}

.user-item_Edit_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.user-item_Edit_Btn:active {
    opacity: 80%;
}

.user-item_Email {
    height: 20px;
    font-family: "Rosario";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}

.user-item-icon {
    width: 30px;
    height: 30px;
    padding: 2px;
}


.user-info-icon {
    width: 24px;
    height: 24px;
    padding: 2px;
}

.user-item_Score {
    position: relative;
    width: 150px;
    height: 30px;
    align-items: center;
}

.user-item .post-count {
    position: relative;
    width: 60px;
    height: 30px;
    padding-left: 5px;
}

.user-item .doc-count {
    position: relative;
    width: 60px;
    height: 30px;
    padding-left: 5px;
}

.user-item_Statusbar {
    display: flex;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    line-height: 28px;
    margin-top: 5px;
    justify-content: space-between;
}