#create-post .title {
    transition: all 0.5s;
    color: black;
    font-style: bold;
    font-size: 28px;
    font-weight: 900;
    border-bottom: 0px solid black;
}

#create-post .title:hover {
    transition: all 0.5s;
    color: var(--blue);
    font-size: 28px;

    border-bottom: 5px solid var(--blue);
}

#create-post #enter-title,
#enter-summary {
    margin-bottom: 10px;
    margin-top: 10px;
}

#create-post .tag,
.enter-tag {
    margin-bottom: 10px;
    margin-top: 10px;
}

#create-post .dropdown {
    margin-bottom: 10px;
    margin-top: 10px;
}


#create_post .btn-submit {
    margin-bottom: 20px;
}

#create-post .tag {
    margin-right: 10px;
}

@media (max-width: 768px) {
    #create-post {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}