#login-form {
    width: 100%;
    max-width: 400px;
    padding: 30px 30px 30px 30px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    background: white;
    border-radius: 30px;
}

#login-form .title {
    transition: all 0.5s;
    color: black;
    font-style: bold;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 0px solid black;
}
#login-form .title:hover {
    transition: all 0.5s;
    color: var(--blue);
    font-size: 22px;
    border-bottom: 5px solid var(--blue);
}


#login-form .btn-register{
    padding-right: 7px;
}

#login-form .btn-forgot{
    padding-left: 7px;
}