.modal-overlay-shadow {
    top: 0px;
    left: 0px;
    background: var(--gray);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    transition: all 0.8s;
    opacity: 60%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.modal-fixed-layout {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: none;
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 10000;
}

.modal-wrapper {
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.17);
    height: fit-content;
    position: relative;

    /* Firefox */
    // width: 100%;
    margin: auto;
    width: fit-content;
    max-height: 80vh;

    animation-name: modal-wrapper-animation;
    animation-duration: 0.5s;
}

@keyframes modal-wrapper-animation {
    0% {
        top: -10vh;
    }

    100% {
        top: 0vh;
    }
}

.modal-wrapper.form {
    min-width: 600px;
}

@media (min-width: 576px) {
    .modal-wrapper.big {
        width: 800px;
        min-width: 400px;
    }

    .modal-text {
        font-size: 19px;
    }
}

//header
.modal-header {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 2em;
    display: flex;
    position: relative;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    padding-top: 0.5em;
    line-height: 1em;
    border-bottom: 1px solid var(--gray);
    color: var(--blue);
    margin: auto;
    justify-content: space-between;
}

.modal-close-icon {
    height: 1.2rem;
    width: auto;
    opacity: 60%;
}

.modal-close-icon:hover {
    opacity: 100%;
}

.modal-close-icon:active {
    opacity: 80%;
    border-radius: 5px;
}

//body area
.modal-body {
    padding: 10px;
    display: flex;
}

.modal-main-icon {
    height: 90px;
    width: auto;
    padding: 15px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.modal-content-c {
    padding-left: 10px;
    min-width: 240px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-hint {
    padding-top: 0.3rem;
    height: fit-content;
    font-family: "Arial";
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    user-select: none;
    min-width: 80px;
    width: 100%;
}

.modal-text {
    position: relative;
    font-family: "BarlowCondensed-SemiBold";
    color: var(--black);
    font-size: 1.1rem;
    line-height: 1.2rem;
}

//Footer area
.modal-footer {
    margin-top: 20px;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: flex-end;
    background: white;
    font-size: 18px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.simple-modal-footer {
    margin-top: 10px;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: flex-end;
    background: white;
    font-size: 18px;
    padding-top: 5px;
    width: 100%;
}

.confirmation-icon {
    width: 20px;
    height: 18px;
    padding-top: 2px;
    padding-left: 4px;
}

.preview-modal.document-post-detail {
    width: 100%;
    max-width: 600px;
}

.modal-left-title-text {
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    width: fit-content;
    color: var(--blue);
    text-align: left;
    line-height: 30px;
}
