@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.comments-container {
  margin: 3rem auto 1rem;
  width: 768px;
  border-top: 1px solid var(--light-gray);
  padding-top: 0.8rem;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.comments-list {
  margin-top: 5px;
  position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comment-item:before {
  content: "";
  // width: 2px;
  height: 100%;
  background: var(--gray);
  position: absolute;
  left: 1.5rem;
  top: 0;
}

.comment-item.report:before{
  height: 100%;
  background: var(--gray);
  position: absolute;
  left: 0px;
  content: '';
  top: 0;
}

.comments-list.cr:before {
  content: "";
  width: 0px;
  height: 0px;
  background: var(--gray);
  position: absolute;
  top: 0;
}

.comments-list.cr:after {
  content: "";
  width: 0px;
  height: 0px;
  border: none;
}

.reply-list:before,
.reply-list:after {
  display: none;
}

.reply-list li:before {
  content: "";
  width: 3rem;
  height: 1px;
  background: var(--gray);
  position: absolute;
  top: 20px;
  left: -3rem;
}

.comments-list .reply-item {
  margin-bottom: 8px;
  display: block;
  position: relative;
}

.comments-list .reply-item:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 4.5rem;
  clear: both;
  margin-top: 15px;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 49px;
  min-width: 49px;
  height: 49px;
  position: relative;
  border: 2px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0.25rem 0px var(--gray);
  -moz-box-shadow: 0px 0px 0.25rem 0px var(--gray);
  box-shadow: 0px 0px 0.25rem 0px var(--gray);
  overflow: hidden;
  cursor: pointer;
}

.comments-list .comment-avatar:hover {
  border-color: var(--light-blue);
}


.comments-list .comment-avatar.report {
  width: 40px;
  min-width: 40px;
  height: 40px;
}


.reply-list .comment-avatar.reply {
  min-width: 2.5rem;

  width: 2.5rem;
  height: 2.5rem;
}

.comment-main-level {
  display: flex;
}

.comments-list .comment-box {
  width: 100%;
  margin-left: 1.5rem;
  position: relative;
  border: 1px solid var(--gray);
}

.comments-list.cr .comment-box,
.reply-item.cr .comment-box {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

//triangle
.triangle-with-shadow {
  position: absolute;
  overflow: hidden;
  transform: rotate(-90deg);
  box-shadow: 0 2px 2px -2px white;
}

//shadow
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  transform: rotate(45deg);
  /* Prefixes... */
  top: 14px;
  left: 3px;
  box-shadow: 0px 0px 1px 0px black;
}

.triangle-with-shadow.comment {
  top: 0.5rem;
  left: 3.03rem;
  width: 2rem;
  height: 1.2rem;
}

.triangle-with-shadow.reply {
  top: 0.5rem;
  left: 1.95rem;
  width: 2rem;
  height: 1.2rem;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -0.75rem;
}

.reply-list .comment-box {
  width: 100%;
  margin-left: 1rem;
  position: relative;
}

.comment-box .comment-head {
  border: 1px;
  height: fit-content;
  background: white;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--grayish);
  // overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.comment-box .comment-head i:hover {
  color: var(--blue);
}

.comment-box .comment-name {
  line-height: 1.1rem;
  float: left;
  font-size: 18px;
  font-family: "BarlowCondensed-SemiBold";
  color: var(--blue);
  cursor: pointer;
}

.comment-box .comment-name:hover {
  opacity: 80%;
}

.comment-box .comment-time {
  color: rgba(#363636, 0.6);
  position: relative;
  padding: 0.25rem;
  font-size: 0.8rem;
  padding-left: 0rem;
  font-family: "Arial";
  letter-spacing: -0.2px;
  height: 1rem;
  word-spacing: -1px;
}

.comment-box .comment-content {
  background: white;
  padding: 0.75rem;
  font-size: 0.9rem;
  color: var(--light-black);
}

.comment-box .by-author-label {
  content: "Tác giả";
  background: var(--blue);
  color: white;
  height: fit-content;
  font-size: 0.7rem;
  padding: 0.1rem 0.6rem;
  font-weight: 700;
  border-radius: 3px;
  margin-left: 0.625rem;
  font-family: "Open Sans", sans-serif;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.comments-container .section-title {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: var(--light-black);
  font-family: "Open Sans", sans-serif;
}

.comment.reaction-bar {
  padding-top: 0.25rem;
  padding-bottom: 0.625rem;
  border-top: 0px;
  margin: auto;
  width: calc(100% - 20px);
}

.comment-content.ck-editor-output {
  padding: 10px;
  padding-top: 5px;
}

.comment-content.ck-editor-output.report {
  padding: 0px;
  padding-top: 5px;
}

#cke-wrapper-crt-cmmnt-cke {
  border-radius: 3px !important;
  border: none;
}

.comment-box .cke-wrapper.ckeditor {
  border-radius: 3px !important;
}

.hs-label-container {
  border-bottom: 1px solid var(--gray);
  width: fit-content;
  margin-bottom: 10px;
  display: flex;
  padding-right: 5px;
  cursor: pointer;
}

.hs-label-container:hover {
  opacity: 80%;
}

.hs-label {
  color: var(--light-black);
  font-family: "BarlowCondensed-Medium";
  font-size: 1rem;
  width: fit-content;
  padding-bottom: 5px;
  margin-right: 5px;
}

.hs-label-img {
  position: relative;
  width: 8px;
  height: 8px;
  margin-top: 6px;
}

.comment-box.edit {
  border: none;
}
