@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.comments-container {
  margin: 60px auto 15px;
  width: 768px;
  border-top: 1px solid var(--light-gray);
  padding-top: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 1.125rem;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 1.5rem;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  // background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}

.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}


.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 49px;
  height: 49px;
  position: relative;
  float: left;
  border: 2px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0.25rem 0px var(--gray);
  -moz-box-shadow: 0px 0px 0.25rem 0px var(--gray);
  box-shadow: 0px 0px 0.25rem 0px var(--gray);
  overflow: hidden;
  cursor: pointer;
}

.comments-list .comment-avatar:hover {
  border-color: var(--light-blue);
}

.comment-avatar .comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 3rem;
  height: 3rem;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 0px var(--gray);
  -moz-box-shadow: 0 1px 3px 0px var(--gray);
  box-shadow: 0 1px 3px 0px var(--gray);
  // border: 1px solid var(--gray);

}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 0.75rem 10px 0;
  border-style: solid;
  border-color: transparent white;
  top: 0.5rem;
  left: -11px;
}

f .comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -0.75rem;
}

.reply-list .comment-box {
  width: 610px;
}

.comment-box .comment-head {
  border: 1px;
  height: fit-content;
  background: white;
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--grayish);
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.comment-box .comment-head i:hover {
  color: var(--blue);
}

.comment-box .comment-name {
  line-height: 1.1rem;
  float: left;
  font-size: 18px;
  font-family: "BarlowCondensed-SemiBold";
  color: var(--blue);
  cursor: pointer;
}


.comment-box .comment-name:hover {
  opacity: 80%;
}

.comment-box .comment-time {
  //for time
  color: var(--light-black);
  font-size: 0.8rem;
  position: relative;
  top: 1px;
  font-family: "Open Sans", "sans-serif";
}


.comment-box .comment-content {
  background: white;
  padding: 0.75rem;
  font-size: 0.9rem;
  color: var(--light-black);

}

.comment-box .by-author-label {
  content: 'Tác giả';
  background: var(--blue);
  color: white;
  font-size: 0.7rem;
  padding: 0.125rem 0.625rem;
  font-weight: 700;
  border-radius: 3px;
  margin-left: 0.625rem;
  font-family: "Open Sans", sans-serif;

}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.comments-container .section-title {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--light-black);
  font-family: 'Open Sans', sans-serif;
}

.comment.reaction-bar {
  padding: 5px;
}