.ReCAP-wrapper {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: 1px white solid;
  box-shadow: 0px 0px 2px 0px white;
  border-radius: 5px;
  overflow: hidden;
  width: 304px;
  height: 78px;
}