.white-button {
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    text-decoration: none;
    color: var(--black);
    background-color: white;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 2px;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    outline: 0;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-indent: 0px;
    min-width: 80px;
    padding: 0px 10px;
}

.white-button:hover,
.white-button:focus {
    box-shadow: 0px 0px 2px 0px var(--blue);
    border: var(--blue) 1px solid;
    opacity: 0.8;
}

.white-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 0.6;
}

.white-button:disabled {
    background: var(--gray);
    color: white;
    opacity: 0.9;
}

.red-button {
    @extend .white-button;
    background: var(--red);
    color: white;
    border: var(--red) solid 1px;
}

.red-button:hover {
    background: var(--red);
    box-shadow: 0px 0px 2px 0px var(--red);
    opacity: 0.8;
    color: white;
}

.red-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 0.8;
}

.red-button:disabled {
    background: var(--gray);
    opacity: 0.9;
    border: var(--gray) solid 1px;
}

.blue-button {
    @extend .red-button;
    background: var(--blue);
    border: var(--blue) 1px solid;
}

.blue-button:hover {
    background: var(--blue);
    box-shadow: 0px 0px 2px 0px var(--blue);
    opacity: 0.8;
}

.blue-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 0.8;
}

.blue-button:disabled {
    background: var(--gray);
    border: var(--gray) solid 1px;
}

button:focus {
    outline: none !important;
}

.file-input-button {
    @extend .white-button;
    padding: 0px 10px 0px 7px;
    display: flex;
}
