.white-button {
    display: inline-block;
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    background: white;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--light-black);
    border: var(--gray) 1px solid;
    user-select: none !important;
    min-width: 80px;
    box-shadow: 0px 0px 1px 0px var(--grayish);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
}

.white-button:hover {
    background: var(--gray);
    box-shadow: 0px 0px 2px 0px var(--gray);
    opacity: 80%;
}

.white-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 80%;
}

.white-button:disabled {
    background: var(--gray);
    color: white;
    opacity: 90%;
}

.red-button {
    @extend .white-button;
    background: var(--red);
    color: white;
    border: var(--red) solid 1px;
}

.red-button:hover {
    background: var(--red);
    box-shadow: 0px 0px 2px 0px var(--red);
    opacity: 80%;
    color: white;
}

.red-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 80%;
}

.red-button:disabled {
    background: var(--gray);
    opacity: 90%;
    border: var(--gray) solid 1px;

}

.blue-button {
    @extend .red-button;
    background: var(--blue);
    border: var(--blue) 1px solid;
}

.blue-button:hover {
    background: var(--blue);
    box-shadow: 0px 0px 2px 0px var(--blue);
    opacity: 80%;
}

.blue-button:active {
    background: var(--gray);
    border: white 1px solid;
    opacity: 80%;
}

.blue-button:disabled {
    background: var(--gray);
    border: var(--gray) solid 1px;
}

button:focus {
    outline: none !important;
}