.document-detail-container,
.post-detail-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: 1px var(--gray) solid;
    margin-top: 20px;
    box-shadow: 0px 0px 3px 0px var(--gray);
    border: 1px var(--gray) solid;
    border-top: var(--blue) 5px solid;
    padding: 10px;
    min-width: 800px;
    max-width: 800px;
    min-height: 100%;
}

.post-detail-container.preview-modal {
    min-width: 600px;
}

.exercise-detail-container {
    @extend .post-detail-container;
    margin-top: 0px;
    min-width: 640px;
    max-width: 640px;
}

.document-detail-container.preview,
.post-detail-container.preview {
    @extend .document-detail-container;
    margin: auto;
}

.document-detail-container .file-name {
    position: relative;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 18px;
    display: flex;
    color: var(--blue);
    user-select: none;
    cursor: pointer;
    height: fit-content;
    border-radius: 0px;
    border: none;
    // background: green;
    margin-top: 5px;
}

.file-name-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin: auto;
    max-width: 600px;
    font-family: Arial;
    font-size: 0.9rem;
    color: var(--black);
    width: 90%;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.document-detail-container .continue-read,
.post-detail-container .continue-read {
    display: none;
}

.document-detail .view-count-down-count {
    margin-top: 30px;
    display: flex;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: var(--black);
    margin-left: 5%;
}

.document-detail .document-live-preview {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    margin-left: 5%;
    width: 90%;
    background: var(--grayish);
    margin-bottom: 15px;
    border: 1px var(--gray) solid;
    border-radius: 5px;
    height: 660px;
}

//exclusive for custom pdf viewer (by overriding these classes in template)
div .has-margin-bottom-15 {
    margin-bottom: 5px !important;
}

div .has-margin-top-15 {
    margin-top: 5px !important;
}

div .has-background-black {
    background: white !important;
    display: flex !important;
}

.buttons {
    flex-wrap: none;
}

.columns.is-mobile > .column.is-2 {
    display: flex !important;
    flex: auto !important;
    width: fit-content !important;
}

.columns.is-mobile > .column.is-3 {
    display: flex !important;
    flex: auto !important;
    width: fit-content !important;
}

.column {
    display: flex !important;
}

.box {
    padding: 5px !important;
}

.buttons.are-small .button:not(.is-normal):not(.is-medium):not(.is-large) {
    border-radius: 5px !important;
}

div .button.is-black {
    background: var(--blue) !important;
}

div .button.is-black:hover {
    opacity: 0.8;
}

// .container div div {
//     height: 840px !important;
// }

.container div div div {
    height: fit-content !important;
}

// .container div div div canvas {
//     max-width: 792px;
// }
div .ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc .ndfHFb-c4YZDc-Wrql6b-SmKAyb {
    background: var(--blue) !important;
    border-radius: 5px !important;
}

div div div .ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc .ndfHFb-c4YZDc-Wrql6b {
    background: var(--blue) !important;
    border-radius: 5px !important;
}

//-----relative item

// .relative-container {

// }

.fake-relative-sidebar {
    margin-left: 10px;
    margin-top: 20px;
    width: 240px;
    height: fit-content;
    position: relative;
}

.fake-relative-sidebar.exercise {
    margin-top: 0px;
}
.relative-sidebar {
    margin-left: 10px;
    width: 240px;
    height: fit-content;
    border: 1px solid var(--gray);
    box-shadow: 0px 0px 2px 0px var(--grayish);
}

.relative-to-post {
    border-top: 1px solid var(--gray);
    margin-top: 50px;
    width: 100%;
    border: 1px solid var(--gray);
    box-shadow: 0px 0px 3px 0px var(--gray);
    border: 1px var(--gray) solid;
}

.relative-to-post:first-child {
    margin-right: 5px;
}

.relative-to-post + .relative-to-post {
    margin-left: 5px;
}

.relative-sidebar + .relative-sidebar {
    margin-top: 10px;
}

.relative-item {
    display: flex;
    margin-bottom: 5px;
    color: var(--black);
}

.relative-item:hover {
    color: var(--black);
}

.relative-item-title {
    width: fit-content;
    height: fit-content;
    min-width: 80px;
    vertical-align: middle;
    line-height: 22px;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    color: var(-black);
    font-style: normal;
    user-select: none;
    margin-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.relative-item-title:hover {
    opacity: 0.8;
}

.relative-item-icon {
    width: 8px;
    height: 8px;
    margin-top: 8px;
    border-radius: 50%;
    background: var(--blue);
    margin-left: 5px;
}

.relative-title {
    //same style to main-title in Titlebar.scss
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    width: 100%;
    text-align: center;
    color: var(--blue);

    //differences
    padding-top: 3px;
    border-bottom: 5px solid var(--gray);
    font-size: 20px;
    margin-bottom: 10px;
}

.relative-see-more {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
