.item-container {
    position: relative;
    height: fit-content;
    margin: auto;
    padding: 10px;
    background: white;
    background-repeat: no-repeat;
    border: 1px var(--gray) solid;
    max-width: 1000px;
    user-select: none;
    border-bottom: 1px var(--gray) solid;
    margin-bottom: 10px;
}


//general summary item headbar
.item-normal-metadata-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    color: var(--blue);
}

//requested summary item header
.item-request-metadata-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    position: relative;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 16px;
    line-height: 1.0em;
    display: flex;
    color: var(--black);
    user-select: none;

}

.metadata-light-black-label {
    line-height: 1.0em;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    padding-top: 2px;
    position: relative;
    font-family: "BarlowCondensed-Regular";
    font-size: 16px;
    // color: var(--gra);
    color: var(--light-black);
    user-select: none;
    cursor: context-menu;
    margin-right: 5px;
}

//Doc summary item header (contain time)

.Doc_Metadata_Header {
    height: 1.1rem;
    display: flex;
}

.metadata-icon {
    margin-top: 7px;
    width: 8px;
    height: 8px;
}

//author
.link-label {
    margin-top: 1px;
    width: fit-content;
    display: flex;
    height: fit-content;
    position: relative;
    height: 20px;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 18px;
    color: var(--blue);
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}

.link-label:hover {
    opacity: 80%;
}

.link-label:active {
    opacity: 60%;
}

.item-container-requested-date {
    font-size: 16px;
}

//General summary item header 2
.requested-category {
    padding-left: 5px;
    color: var(--blue);
}

.requested-category:hover {
    cursor: pointer;
    opacity: 80%;
}

.requested-category:active {
    opacity: 60%;
}

//Content
.item-title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "RobotoSlab-Regular";
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: var(--black);
    cursor: pointer;
}

.item-title:hover {
    color: var(--light-black);

}

.item-summary {
    // padding-left: 5px;
    font-family: "Sarabun-Regular";
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: var(--black);
    margin-top: 5px;
}

.doc-file-name {
    width: fit-content;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    font-family: "BarlowCondensed-Medium";
    font-size: 20px;
    line-height: 1.0em;
    color: var(--blue);
    user-select: none;
    margin-top: 5px;
}

.doc-file-name:hover,
.doc-file-name:active {
    opacity: 80%;
    cursor: pointer;
}

.author-image-link-layout {
    display: flex;
    width: 100%;
    max-height: 200px;
}

.author-image-link {
    width: auto;
    max-height: 200px;
    margin: auto;
}

.item-container_Tags_Layout {
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
}

.item-continue-reading-layout {
    position: relative;
    height: 32px;
}

.item-continue-reading {
    right: 7px;
    position: absolute;
}

.item-container_Footer {
    border-top: 1px var(--gray) solid;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 20px;
}

//no for approve
.normal-category {
    font-family: "BarlowCondensed-Medium";
    font-size: 16px;
    vertical-align: middle;
    height: 20px;
    line-height: 18px;
    background: var(--blue);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}

.prefix-normal-category {
    background: var(--blue);
    width: 3px;
    margin-right: 2px;
    height: 20px;
}

.item-container_Time_Semester_Subject_Icon {
    margin-top: 0.6rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.1rem;
}

.item-container_Time_Semester_Subject_Text {
    line-height: 1.1rem;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 12px;
    color: var(--black);
    user-select: none;
    margin-right: 0.6rem;
}

// Post Reactionbar

.item-reaction-bar {
    border-top: 1px var(--gray) solid;
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    height: fit-content;
    // background: green;
}

//like, dislike bar
.like-dislike-bar {
    width: 80px;
    height: 20px;
    // background: pink;
}

.doc-like-dislike-btn {
    width: 16px;
    height: 16px;
    margin-top: -4px;
    cursor: pointer;
}

.doc-like-dislike-btn:hover {
    opacity: 80%;
}

.doc-like-dislike-count {
    font-family: "BarlowCondensed-Medium";
    font-size: 16px;
    margin-top: 2px;
    line-height: 20px;
    color: var(--black);
    margin-left: 5px;
}

.rate-percent-bar {
    width: 100%;
    background: var(--gray);
    height: 3px;
    margin-top: -2px;
    position: relative;

}

.like-rate-percent {
    position: absolute;
    background: var(--blue);
    height: 3px;
}

//likeBtn for post
.item-reaction-bar .like-btn {
    width: 18px;
    height: 18px;
    margin-top: 1px;
}

.item-reaction-bar .like-btn:hover {
    cursor: pointer;
    opacity: 80%;
}

.item-reaction-bar .like-count {
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    line-height: 20px;
    color: var(--light-black);
    margin-left: 5px;
}

//saveBtn

.item-reaction-bar .save-btn {
    margin-left: 10px;
    margin-top: 2px;
    width: 17px;
    height: 17px;
}

.save-text-container {
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 20px;
    color: var(--light-black);
    display: flex;
}

.save-text-container:hover {
    opacity: 80%;
    cursor: pointer;
}

//commentBtn
.post-comment-count-container {
    display: flex;
    padding-left: 15px;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 20px;
    color: var(--light-black);
    width: fit-content;
    user-select: none;

}

.doc-comment-count-container {
    @extend .post-comment-count-container;
    margin-top: 3px;
}

.post-comment-count-container:hover,
.download-count-layout:hover {
    opacity: 80%;
    cursor: pointer;
}

.view-count-layout,
.view-count {
    display: flex;
    padding-left: 15px;
    font-family: "BarlowCondensed-Regular";
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
    width: fit-content;
    user-select: none;
    margin-top: 3px;
}

.download-count-layout {
    display: flex;
    padding-left: 15px;
    font-family: "BarlowCondensed-Regular";
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
    width: fit-content;
    user-select: none;
    margin-top: 2px;
}

.download-btn {
    // margin-left: -3px;
    margin-top: 2px;
    width: 18px;
    height: 18px;
}

.post-like-btn{
    
}