.form-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    outline: none;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.text-input {
    box-shadow: 0px 0px 2px 0px var(--grayish);
    padding: 2px;
    padding-left: 10px;
    height: 1.7rem;
    text-align: left;
    background: white;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 20px;
    color: var(--black);
    border: var(--gray) 1px solid;
    min-width: 200px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    outline: none;
    position: relative;
    margin: auto;
}

.text-input::placeholder {
    font-family: "BarlowCondensed-Regular";
    font-size: 15px;
}

.text-input:hover,
.text-input:focus {
    border: var(--blue) 1px solid;
    cursor: text;
    opacity: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px var(--light-blue);
}

.text-input:disabled {
    background: var(--gray);
    color: var(--black);
    cursor: text;
    opacity: 90%;
}

.form-group.invalid .text-input {
    border-color: var(--red);
    box-shadow: 0px 0px 2px 0px var(--light-red);
}

.form-label {
    width: fit-content;
    height: fit-content;
    min-width: 80px;
    vertical-align: middle;
    line-height: 22px;
    // padding-top: 3px;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    color: var(--black);
    user-select: none;
    margin-bottom: 5px;
    padding-right: 5px;
}

.form-error-label-container {
    position: relative;
}

.form-error-label {
    padding-top: 0.2rem;
    position: absolute;
    padding-left: 0.5rem;
    height: fit-content;
    color: var(--red);
    user-select: none;
    min-width: 80px;
    font-family: "Arial";
    font-size: 0.8rem;
    width: 100%;
}

.form-tip-label {
    @extend .form-error-label;
    color: var(--black) !important;
    padding-left: 0px;
    position: relative;
}

.form-tip-label-2 {
    @extend .form-tip-label;
    font-size: 0.875rem;
    color: var(--light-black);
    font-weight: 700;
    line-height: 1.1rem;
}

.form-group.invalid .form-checkbox-style {
    border-color: var(--red);
    box-shadow: 0px 0px 2px 0px var(--light-red);
}

.form-label-required {
    @extend .form-label;
}

.form-label-required:after {
    content: "*";
    margin-left: 2px;
    color: var(--red);
}

.form-dropdown-container {
    position: relative;
}

.form-dropdown {
    position: absolute;
    display: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.form-dropdown-item {
    background: white;
    border-bottom: 1px solid var(--gray);
}

.text-area {
    @extend .text-input;
    height: 120px;
    resize: none;
    padding-top: 5px;
}

.text-area:hover,
.text-area:focus {
    border: var(--blue) 1px solid;
    outline: none;
}

.text-area::placeholder {
    font-family: "BarlowCondensed-Regular";
    font-size: 15px;
    color: var(--black);
}

.form-group.invalid .form-error-label {
    color: var(--red);
}

.text-input.invalid {
    border-color: var(--red);
    box-shadow: 0px 0px 2px 0px var(--light-red);
}

.form-group.invalid .file-input-label {
    border-color: var(--red);
    box-shadow: 0px 0px 2px 0px var(--light-red);
}

.form-line {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 0px;
    width: 100%;
    border-bottom: 1px solid var(--gray);
}

.text-input-dropdown-container {
    position: relative;
    width: 100%;
    height: 0px;
    max-height: fit-content;
}

.text-input-dropdown-container.hidden {
    display: none;
}

.text-input-dropdown-container.show {
    display: block;
}

.text-input-dropdown {
    margin-top: 2px;
    z-index: 1;
    position: absolute;
    background: white;
    width: 100%;
    border: 1px var(--gray) solid;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--gray);
}

.file-input,
.image-input {
    cursor: pointer;
    display: none;
}

.validation {
    // class này không được dùng để làm gì cả,
    // nếu một element có 2 class là validation và form-group
    // khi nút submit được bấm thì form sẽ duyệt hết tất cả các element chứa 2 class này,
    // nếu valid thì element không có thêm class nào, nếu không valid thì element có class form-group có thêm class class invalid
    //
}

.ckeditor {
    //tich hop vao wrraper
}

.combobox {
    //tich hop vao wrraper luon
}

.file-input-container {
    // dung de select thoi ...
}

.file-input-wrapper {
    opacity: 100%;
    position: relative;
    height: fit-content;
    width: 100%;
}

.file-input-wrapper .file-input:hover,
.file-input-wrapper .file-input:focus {
    background: var(--light-gray);
    border: 1px var(--blue) solid;
    box-shadow: 0px 0px 2px 0px var(--light-blue);
}

.file-input-wrapper .file-input-label {
    width: 100%;
    border: 1px var(--gray) solid;
    border-radius: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.file-input-label:hover,
.file-input-label:focus {
    background: var(--light-gray);
    border: 1px var(--blue) solid;
    box-shadow: 0px 0px 2px 0px var(--light-blue);
}

.file-input-image {
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}

.image-input-image {
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}

.file-input-wrapper.focus {
}

.form-radio {
}

.form-checkbox-container {
    display: block;
    position: relative;
    padding-left: 1.7rem;
    height: 1.3rem;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
}

.form-checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-checkbox-label {
    line-height: 1.3em;
    font-size: 0.9rem;
    height: 1.3rem;
    display: flex;
    width: fit-content;
    padding-top: 0.1rem;
    padding-right: 0.2rem;
}

.form-checkbox-style {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid var(--gray);
    border-radius: 3px;
    top: 0;
    box-shadow: 0px 0px 2px 0px var(--light-gray);
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-color: var(--grayish);
}

.form-checkbox-container input:hover ~ .form-checkbox-style {
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 2px 0px var(--light-blue);
}

.form-checkbox-container input:focus ~ .form-checkbox-style {
    border: 1px solid var(--blue);
    opacity: 80%;
    box-shadow: 0px 0px 2px 0px var(--light-blue);
}

/* When the checkbox is checked, add a blue background */
.form-checkbox-container input:checked ~ .form-checkbox-style {
    background-color: var(--blue);
    box-shadow: 0px 0px 2px 0px var(--light-blue);
    border: 1px solid var(--blue);
}

.form-checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox-container input:checked ~ .form-checkbox-style:after {
    display: block;
}

.form-checkbox-container .form-checkbox-style:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-group.invalid .ReCAP-wrapper {
    border: 1px var(--red) solid;
    box-shadow: 0px 0px 2px 0px var(--light-red);
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
