@import 'components/styles/Metadata.scss';
@import 'Animations.scss';

.home-item {
  position: relative;
  height: fit-content;
  background: white;
  min-width: 490px;
  user-select: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 2px 0px var(--grayish);
}

.home-item+.home-item {
  margin-left: 20px;
}

.home-item-container-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 1000px;
  display: flex;
  overflow-x: scroll;
  scrollbar-color: #bac9f1 #fff;
  scrollbar-width: thin;

}

.home-item-container {
  overflow: auto;
  padding-bottom: 0px;
  width: fit-content;
  display: flex;
  height: fit-content;
  box-sizing: border-box;
}

.home-item-container-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.home-item-container-wrapper::-webkit-scrollbar-thumb {
  background: #bac9f1;
}

.home-item .image-container {
  border-bottom: 3px solid var(--blue);
}

.home-item .image {
  width: 160px;
  height: 130px;
  padding: 5px;
  margin-bottom: 0px;
  box-sizing: border-box;
  object-fit: cover;
}

.home-item-metadata {
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  position: relative;
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  line-height: 20px;
  color: var(--blue);
  user-select: none;
  padding: 10px;
}

.home-item .title {
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
  font-family: "RobotoSlab-Regular";
  font-weight: 400;
  margin-top: 3px;
  font-size: 22px;
  color: var(--black);
  line-height: 1.5rem;
  margin-bottom: 0px !important;
}

.title-hv:hover+.title-hv-c {
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.3s;
  z-index: 1;
}

.title-hv-c {
  position: relative;
  opacity: 0;
}

.title-hv-m {
  // top: 5px;
  left: 0px;
  position: absolute;
  height: fit-content;
  background: white;
  width: calc(100%-6px);
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--gray);
  padding: 5px;
  padding-left: 8px;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 0.8rem;
  color: var(--black);
  user-select: none;
  z-index: 1;
}

.home-item .title:hover {
  color: var(--blue);
  opacity: 90%;
}

.home-item .summary-text {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  display: -webkit-box;
  font-weight: 500;
  color: var(--black);
  margin-top: 5px;
  user-select: text;
}

.home-item .avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 2px 0px var(--grayish);
  border: 1px solid var(--gray);
}

.home-item .cover-image {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.home-item .summary,
.home-item .description {
  width: 100%;
  // padding: 10px;
  padding-bottom: 0px;
  display: -webkit-box;
  height: fit-content;
  max-height: 80px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.home-item .reaction-bar {
  margin-top: 5px;
  border-top: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.home-item .view-count-container {
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  line-height: 20px;
  color: var(--light-black);
}

.home-item .like-count {
  font-family: "BarlowCondensed-SemiBold";
  font-size: 18px;
  line-height: 20px;
  color: var(--light-black);
  margin-left: 5px;
}