@import "./Form.scss";

.gray-label {
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    // min-width: 80px;
    vertical-align: middle;
    line-height: 20px;
    padding-top: 3px;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: var(--black);
    user-select: none;
    margin-bottom: 5px;
    padding-right: 5px;
}

.gray-normal-label {
    width: fit-content;
    height: fit-content;
    min-width: 80px;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: fit-content;
    padding-top: 12px;
    padding-bottom: 8px;
    font-family: "BarlowCondensed-Medium";
    line-height: 100%;
    color: var(--black);
    user-select: none;
    margin-bottom: 5px;
    padding-right: 5px;
}

.light-black-normal-label {
    @extend .gray-normal-label;
    color: var(--light-black);
}

.filter-label {
    margin-top: 2px;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    font-size: 1.1rem;
    padding-top: 3px;
    font-family: "BarlowCondensed-Medium";
    line-height: 100%;
    color: var(--black);
    user-select: none;
    margin-bottom: 5px;
}

.color-border-label {
    width: fit-content;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    font-family: "BarlowCondensed-SemiBold";
    line-height: 100%;
    user-select: none;
}

.red-border-label {
    @extend .color-border-label;
    border: 1px solid var(--red);
    color: var(--red);
}

// .follow-label {
//     color: var(--blue);
//     // line-height: 25px;
//     border-radius: 5px;
//     margin-top: 6px;
//     line-height: 18px;
//     height: 20px;
//     border: 1px solid var(--blue);
// }

.blue-border-label {
    @extend .color-border-label;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.green-border-label {
    @extend .color-border-label;
    border: 1px solid var(--green) !important;
    color: var(--green);
}

.black-border-label {
    @extend .color-border-label;
    border: 1px solid var(--black);
    color: var(--black);
}

.green-border-label {
    @extend .color-border-label;
    border: 1px solid var(--blue);
    color: var(--green);
}

label {
    display: inline-block;
}

// .wysiwyg-label {  //for full text search (in future)
//     padding-top: 0.1rem;
//     padding-left: 0.5rem;
//     font-family: 'Roboto-Medium', sans-serif;
//     font-size: 0.7rem;
//     user-select: none;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 200px;
//     color: var(--black);
//     padding-left: 0px;
//     position: relative;
// }

.light-black-label {
    line-height: 1em;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    padding-top: 2px;
    position: relative;
    font-family: "BarlowCondensed-Regular";
    font-size: 16px;
    color: var(--light-black);
    user-select: none;
    cursor: context-menu;
    margin-right: 5px;
}

.black-label-s {
    margin-top: 1px;
    width: fit-content;
    display: flex;
    height: fit-content;
    position: relative;
    height: 20px;
    font-family: "BarlowCondensed-Medium";
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}

.black-label-m {
    line-height: 1em;
    display: flex;
    justify-content: flex-start;
    height: 20px;
    padding-top: 2px;
    position: relative;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    color: var(--black);
    user-select: none;
    cursor: context-menu;
    margin-right: 5px;
}

.summary-text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: var(--black);
    margin-top: 5px;
    user-select: text;
}

.link-label-s {
    width: fit-content;
    display: flex;
    height: fit-content;
    position: relative;
    height: 20px;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 17px;
    line-height: 18px;
    color: var(--blue);
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}

.link-label-m {
    @extend .link-label-s;
    font-size: 18px;
    line-height: 20px;
    font-family: "BarlowCondensed-SemiBold";
}

.link-label-s:hover,
.link-label-m:hover {
    opacity: 0.8;
}

.link-label-s:active,
.link-label-m:active {
    opacity: 0.6;
}

.blue-label-s {
    @extend .link-label-s;
    cursor: normal;
    user-select: none;
}

.blue-label-s:hover {
}
