.metadata {
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  position: relative;
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  line-height: 20px;
  color: var(--blue);
  user-select: none;

}

.activity-metadata {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.metadata .title {
  padding-bottom: 5px;
  font-family: "RobotoSlab-Regular";
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--black);
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  height: 26px; 
}


.metadata .title:hover {
  color: var(--blue);
  opacity: 90%;
}

.metadata .title:hover {
  color: var(--blue);
  opacity: 90%;
}

.document-detail-container .title,
.post-detail-container .title {
  @extend .title;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
}


.metadata-label {
  padding-left: 10px;
  color: var(--black);
  position: relative;
  font-size: 16px;
  height: 20px;
  line-height: 17px;
  display: flex;
  justify-content: flex-start;
  height: 20px;
  padding-top: 2px;
  font-family: "BarlowCondensed-Regular";
  color: var(--light-black);
  user-select: none;
  cursor: context-menu;
  margin-right: 5px;
}

.metadata-label::before {
  content: url('../../assets/icons/8x8/g_btn_element_8x8.png');
  position: absolute;
  left: 0px;
  top: 1px;
}

.document-detail-container .metadata-label,
.post-detail-container .metadata-label {
  @extend .metadata-label;
  height: 24px;
  font-size: 18px;
  font-family: "BarlowCondensed-Regular";

}

.category {
  font-family: "BarlowCondensed-Medium";
  font-size: 16px;
  height: 20px;
  line-height: 18px;
  background: var(--blue);
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 5px;
  user-select: none;
  cursor: pointer;
}

.metadata .category::before {
  content: '';
  background: white;
  width: 3px;
  height: 20px;
  position: absolute;
  margin-right: 10px;
  left: 3px;
}

.metadata .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 2px 0px var(--grayish);
  border: 1px solid var(--gray);
  object-fit: cover;
  cursor: pointer;

}

.activity-metadata .avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 2px 0px var(--grayish);
  border: 1px solid var(--gray);
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  box-shadow: 0px 0px 0px 3px var(--blue);

}

.activity-metadata .icon {
  width: 20px;
  height: 22px;
  padding-top: 2px;
  margin-right: 5px;
}

.report-reason,
.feedback-reason {
  border: 1px solid var(--gray);
  padding: 3px;
  color: var(--black);
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.feedback-container {
  margin-top: 10px;
  // padding-top: 5px;
  color: var(--black);
  // border-top: 1px solid var(--gray);
}



.report-content {
  padding: 10px;
  font-family: "Sarabun-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: var(--black);
  margin-bottom: 10px;
}

.activity-title {
  font-family: "RobotoSlab-Regular";
  font-size: 20px;
  padding-top: 5px;
  display: flex;
  line-height: 20px;
  align-items: center;
  color: var(--black);
  cursor: pointer;
  width: fit-content;
}

.activity-title:hover {
  color: var(--blue);
  opacity: 80%;
}

.metadata .published-time {
  color: var(--black);
  font-size: 16px;
  line-height: 20px;
  margin-top: 3px;
}

.metadata .author-name {
  font-size: 20px;
  cursor: pointer;
  font-family: "RobotoSlab-Medium";
  color: var(--blue);
}

.item-container {
  position: relative;
  height: fit-content;
  margin: auto;
  padding: 10px;
  background: white;
  background-repeat: no-repeat;
  border: 1px var(--gray) solid;
  max-width: 1000px;
  user-select: none;
  border-bottom: 1px var(--gray) solid;
  margin-bottom: 10px;
}

.item-container.inner {
  border-bottom: 2px solid var(--gray);
}

.calendar-icon {
  width: 18px;
  height: 20px;
  padding-top: 2px;
  margin-right: 5px;
}

.metadata .file-name {
  margin-top: 15px;
  width: fit-content;
  display: flex;
  position: relative;
  height: 20px;
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  line-height: 18px;
  color: var(--blue);
  user-select: none;
  cursor: pointer;
  border: none;
  padding-left: 0px;
}

.metadata .image {
  max-height: 200px;
  width: fit-content;
  object-fit: cover;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}