.metadata {
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  position: relative;
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  line-height: 20px;
  color: var(--blue);
  user-select: none;

}

.metadata .title {
  padding-bottom: 5px;
  font-family: "RobotoSlab-Regular";
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--black);
  cursor: pointer;
}

.metadata .category {
  font-family: "BarlowCondensed-Medium";
  font-size: 16px;
  vertical-align: middle;
  height: 20px;
  line-height: 18px;
  background: var(--blue);
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 5px;
  user-select: none;
  cursor: pointer;
}

.metadata .category::before {
  content: '';
  background: white;
  width: 3px;
  height: 20px;
  position: absolute;
  margin-right: 10px;
  left: 3px;
}

.metadata .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 2px 0px var(--grayish);
  border: 1px solid var(--gray);
}

.metadata .published-time {
  color: var(--black);
  // font-family: "RobotoSlab-Regular";
  font-size: 16px;
  line-height: 20px;
  margin-top: 3px;
}

.metadata .author-name {
  font-size: 20px;
  cursor: pointer;
  font-family: "RobotoSlab-Medium";
  color: var(--blue);
}

.item-container {
  position: relative;
  height: fit-content;
  margin: auto;
  padding: 10px;
  background: white;
  background-repeat: no-repeat;
  border: 1px var(--gray) solid;
  max-width: 1000px;
  user-select: none;
  border-bottom: 1px var(--gray) solid;
  margin-bottom: 10px;
}

.image {
  max-height: 200px;
  width: fit-content;
  object-fit: cover;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: "45px";
  height: "45px";
  border-radius: "50%";
  background: "#c4c4c4";
  margin-top: "2px";
  object-fit: cover;
}

.calendar_icon {
  width: 18px;
  height: 20px;
  padding-top: 2px;
  margin-right: 5px;
}