.reaction-bar {
  border-top: 1px var(--gray) solid;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

// .reaction-bar.question {
//   display: flex;
//   width: fit-content;
//   flex-direction: column;
// }

//post area
.post-like-btn {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}

.banned-action .like-btn-container {
  cursor: not-allowed !important;
}

.like-btn-container {
  display: flex;
  min-width: 50px;
  width: fit-content;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}

.flag-btn-container {
  // .exercise.comment-count-container {
  @extend .like-btn-container;
  // min-width: 30px;
  // width: 30px;
  // padding: 7px;
  // padding-top: 5px;
  // border-radius: 50%;
  // border-bottom: 1px solid var(--gray);
  // height: 30px;
}

// .exercise.comment-count-container {
//   padding: 5px;
// }

.like-btn-container:hover,
.reaction-bar .save-btn-container:hover {
  background: var(--grayish);
}

.reaction-bar .like-btn {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-top: 1px;
}

.reaction-bar .like-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.reaction-bar .like-count {
  font-family: "BarlowCondensed-Medium";
  font-size: 16px;
  line-height: 20px;
  color: var(--light-black);
  margin-left: 5px;
}

//saveBtn
.banned-action .save-btn-container {
  cursor: not-allowed !important;
}

.reaction-bar .save-btn-container {
  width: 55px;
  display: flex;
  border-radius: 3px;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
}

.reaction-bar .save-btn {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.save-btn-text {
  padding-top: 1px;
  font-family: "BarlowSemiCondensed-Medium";
  font-size: 1rem;
  color: var(--black);
  line-height: 16px;
}

.continue-read {
  //same style to link-label-s
  margin-top: 1px;
  width: fit-content;
  display: flex;
  height: fit-content;
  position: relative;
  height: 20px;
  font-family: "BarlowSemiCondensed-Medium";
  font-size: 1rem;
  line-height: 18px;
  color: var(--blue);
  user-select: none;
  cursor: pointer;
  margin-right: 5px;
}

.banned-action .comment-count-container {
  cursor: not-allowed !important;
}

//commentBtn
.comment-count-container {
  min-width: 50px;
  display: flex;
  font-family: "BarlowSemiCondensed-Medium";
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  width: fit-content;
  user-select: none;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: -1px;
}

.comment-btn-number {
  margin-left: 5px;
  font-family: "BarlowCondensed-Medium";
}

.item-container_Tags_Layout {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
}

//no for approve
// Post Reactionbar

//like, dislike bar
.like-dislike-bar {
  width: 80px;
  height: 20px;
}

.document-like-btn,
.document-dislike-btn {
  width: 18px;
  height: 18px;
  // margin-top: -4px;
  cursor: pointer;
}

.document-like-btn:hover,
.document-dislike-btn:hover {
  opacity: 80%;
}

.document-like-count {
  font-family: "BarlowCondensed-Medium";
  font-size: 18px;
  margin-top: -1px;
  line-height: 20px;
  color: var(--black);
  margin-left: 5px;
}

.rate-percent-bar {
  width: 100%;
  background: var(--gray);
  height: 3px;
  margin-top: 2px;
  position: relative;
}

.like-rate-percent {
  position: absolute;
  background: var(--blue);
  height: 4px;
}

.document-comment-count-container {
  @extend .comment-count-container;
  margin-top: 2px;
}

.like-dislike-rate-bar {
  margin-right: 5px;
}

.download-btn-container {
  display: flex;
  font-family: "BarlowSemiCondensed-Medium";
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  width: fit-content;
  user-select: none;
  margin-top: 5px;
  max-width: 50px;
  justify-content: space-between;
  margin-left: 15px;
}

.view-count-container {
  @extend .download-btn-container;
  max-width: 85px;
  font-size: 1rem;
  margin-left: 0px;
}

.download-count,
.view-count {
  margin-left: 5px;
  font-family: "BarlowCondensed-Medium";
  width: fit-content;
}

.blue-rate-percent-bar {
  @extend .rate-percent-bar;
  top: -5px;
  background: var(--blue);
  position: absolute;
  width: 10px;
}

.download-btn {
  margin-top: 2px;
  width: 18px;
  height: 18px;
}

.preview-icon {
  margin-top: 3px;
  width: auto;
  height: 16px;
}

.comment-count-container {
  cursor: pointer;
}

.comment-count-container:hover {
  opacity: 80%;
}
