.simple-tag {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    position: relative;
    padding-left: 5px;
    padding-right: 8px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: var(--gray);
    color: white;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    user-select: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.simple-tag:hover {
    opacity: 0.8;
    background: var(--blue);
    color: white;
}

.simple-tag:hover::after {
    border-color: transparent transparent transparent var(--blue);
}

.simple-tag:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent var(--gray);
    border-style: solid;
    border-width: 10px 0 10px 10px;
}

.tag-delete-btn {
    margin-top: 3px;
    width: 14px;
    height: 14px;
}

.tag-delete-btn:hover {
    background: white;
    border-radius: 50%;
}

.tag-delete-btn:hover .close_8x8:after {
    background: var(--blue);
    border-left: 2px solid var(--blue);
}

.tag-delete-btn:hover .close_8x8:before {
    background: var(--blue);
    border-left: 2px solid var(--blue);
}

.close_8x8 {
    margin-top: 3px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
    position: relative;
}

.close_8x8:after {
    content: "";
    height: 8px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 2px;
}

.close_8x8:before {
    content: "";
    height: 8px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 2px;
}

.tag-search-item {
    width: 33.3%;
    padding: 3px;
    border-radius: 3px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--light-black);
    overflow: hidden;
    cursor: pointer;
}

.tag-search-item:hover {
    background: var(--grayish);
}

.tag-name {
    margin-left: 5px;
}
