.part-title {
  color: var(--blue);
  font-size: 20px;
  font-family: "BarlowSemiCondensed-Bold";
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px !important;
  display: flex;
  justify-content: space-between;

}

.part-title .show-all-button {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}


.part-title .show-all-text {
  display: flex;
}


.part-title .show-all-icon {
  display: flex;
  margin-top: 8px;
  margin-left: 5px;
}

.show-all-button-container,
.show-all-combobox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
