@font-face {
    font-family: "BarlowCondensed-Bold";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-SemiBold";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-Medium";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Medium.ttf) format("truetype");
}


@font-face {
    font-family: "BarlowCondensed-MediumItalic";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-MediumItalic.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-Regular";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: local("RobotoSlab"), url(./assets/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab-Medium";
    src: local("RobotoSlab"), url(./assets/fonts/RobotoSlab-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto"), url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow-SemiBold";
    src: local("Barlow"), url(./assets/fonts/Barlow-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-BoldItalic";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-MediumItalic";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-MediumItalic.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-Medium";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-Bold";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-Bold.ttf) format("truetype");
}


@font-face {
    font-family: "BarlowSemiCondensed-SemiBold";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --blue: #5279db;
    --light-blue: #bac9f1;
    --red: #fe3a3a;
    --light-red: #fd5959;
    --black: #363636;
    --gray: #c4c4c4;
    --green: #66c136;
    --yellow: #fff700;
    --orange: #ffa500;
    --light-orange: #ffe4b3;

    --grayish: #eeeeee;
    --light-gray: #f2f2f2;
    --light-black: #6b6b6b;
}

body {
    line-height: 1rem;
    font-family: 'Arial';
    font-size: 0.9rem;
    color: var(--black);
    margin: 0px;
    /* overflow-y: scroll; */
    /* overflow-x: auto; */
}

input {
    box-sizing: border-box;
    display: block;
}

label {
    box-sizing: border-box;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

textarea {
    box-sizing: border-box;
}

iframe {
    border: none;
}

img {
    color: var(--light-black);
    font: 14px "BarlowSemiCondensed-Medium";
    text-align: center;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.title {
    font-weight: 400;
    box-sizing: border-box;
}

li.hide::marker {
    display: none;
    opacity: 0;
}



div {
    box-sizing: border-box;

}

.btn-icon {
    width: 0.6rem;
    height: 0.6rem;
    margin: auto;
    margin-right: 0.2rem;
}

.if-container {
    height: 80vh;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background: #d1d1d1;
    margin-bottom: 20px;
    border-radius: 5px;
}

.j-c-space-between {
    display: flex;
    justify-content: space-between;
}

.j-c-space-around {
    display: flex;
    justify-content: space-around;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--blue);
}

::selection {
    color: white;
    background: var(--blue);
}

a {
    text-decoration: none;
    outline: none;
    color: var(--blue);
}

a:hover {
    text-decoration: none;
    color: var(--blue);
}

.d-flex {
    display: flex;
}


.d-flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.d-flex-center {
    display: flex;
    margin: auto;
}

.j-c-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mg-0px {
    margin: 0px;
}

.pd-10px {
    padding: 10px;
}

.icon-16x16 {
    width: 16px;
    height: 16px;
}

.icon-10x10 {
    width: 10px;
    height: 10px;
}

.z-i-2 {
    z-index: 2;
}

.icon-24x24 {
    width: 1.5rem;
    height: 1.5rem;
}

.vertical-line {
    height: 100%;
    width: 1px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--gray);
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.mg-bottom-5px {
    margin-bottom: 5px;
}

.margin-bottom-8px {
    margin-bottom: 8px;

}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.t-a-right {
    text-align: right;
}

.t-a-center {
    text-align: center;

}

.o-f-scroll {
    overflow: scroll;

}

.pd-r-10px {
    padding-right: 10px;
}

.pd-r-5px {
    padding-right: 5px;
}

.pd-l-5px {
    padding-left: 5px;
}

.pd-top-10px {
    padding-top: 10px;
}

.scroller-container {
    width: 100%;
    /* height: fit-content; */
    /* overflow-y: scroll; */
    overflow: auto;

    overflow-x: hidden;
    max-height: 80vh;
    /* for firefox */
    scrollbar-color: var(--grayish) white;
    scrollbar-width: thin;
    padding: 10px;
    padding-right: 8px;
    box-sizing: border-box;
}


.pd-top-5px {
    padding-top: 5px;
}

.scroller-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    /* height: 200px;  */
    /* or add it to the track */
}

.scroller-container::-webkit-scrollbar-thumb {
    background: var(--grayish);
    border-radius: 3px;

}

.scroller-container::-webkit-scrollbar-track {
    border-radius: 5px;
}

.scroller-container::-webkit-scrollbar-corner {
    border-radius: 5px
}

.scroller-container::-webkit-scrollbar-track-piece {
    border-radius: 5px
}

.o-f-hidden {
    overflow: hidden
}

.bd-r-5px {
    border-radius: 5px;
}

.bd-b-1px-solid {
    border-bottom: 1px solid var(--gray);
}

.mg-auto {
    margin: auto;
}

.bg-green {
    background: green;
}

.mg-left-5px {
    margin-left: 5px;
}

.mg-left-10px {
    margin-left: 10px;
}

.mg-right-5px {
    margin-right: 5px;
}

.mg-top-5px {
    margin-top: 5px;
}

.mg-top-10px {
    margin-top: 10px !important;
}

.mg-top-15px {
    margin-top: 15px !important;
}

.mg-top-20px {
    margin-top: 20px;
}

.mg-bottom-10px {
    margin-bottom: 10px;
}

.w-50-percents {
    width: 50%;
}

.w-100-percents {
    width: 100%;
}

.c-pointer {
    cursor: pointer;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.mi-w-fit-content {
    min-width: fit-content;
}

.pd-bottom-10px {
    padding-bottom: 10px;
}

/* border bottom */
.decoration-line {
    height: 1px;
    width: 100%;
    background: var(--gray);
}

.blue-decoration-line {
    height: 1px;
    width: 100%;
    background: var(--blue);
}

.mg-top-15px {
    margin-top: 15px;
}