.bottom-left-modal {
    // top: 100px;
    position: fixed;
    bottom: 10px;
    width: 300px;
    height: 35px;
    background: white;
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px var(--grayish);
    padding: 5px;
    padding-top: 8px;
    padding-left: 10px;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

// .bottom-left-modal-1 {
//     @extend .bottom-left-modal-0;
//     animation-name: example-1;
//     bottom: 55px;
// }

// .bottom-left-modal-2 {
//     @extend .bottom-left-modal-0;
//     animation-name: example-2;
//     bottom: 100px;
// }

.bl-modal-close-icon {
    margin-top: 4px;
    margin-right: 3px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.bl-modal-text-c {
    width: "260px";
    max-width: "260px";
    background: "green";
    display: flex;
}

.bl-modal-text {
    padding-top: 2px;
    height: fit-content;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 11px;
    color: var(--red);
    user-select: none;
    width: fit-content;
    max-width: 215px;
    width: 215px;
    color: var(--black);
    padding-left: 0px;
    position: relative;
    padding-left: 5px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bl-modal-text-link {
    @extend .bl-modal-text;
    color: var(--blue);
    font-size: 12px;
    width: 30px;
    max-width: 30px;
    cursor: pointer;
    margin-left: 0px;
}


.bl-modal-text-link:hover,
.bl-modal-close-icon:hover {
    opacity: 60%;
}

.bl-modal-main-icon {
    width: 18px;
    height: 18px;

}

.bl-modal-fixed-layout {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

@keyframes example {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10px;
    }
}

// @keyframes example-1 {
//     0% {
//         bottom: -100px;
//     }

//     100% {
//         bottom: 55px;
//     }
// }

// @keyframes example-2 {
//     0% {
//         bottom: -100px;
//     }

//     100% {
//         bottom: 100px;
//     }
// }