//parent layout
.pr-layout {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.filter-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px var(--gray) solid;
}

.list-item-container {
  background: var(--light-gray);
  padding: 10px;
  padding-bottom: 5px;
}

.nm-bl-layout-router-outlet {
  width: 100%;
  margin: auto;
}

//normal blank layout
.lg-bl-layout {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.home-layout{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.nm-bl-layout {
  width: 100%;
  max-width: 880px;
  margin: auto;
}

//small blank layout
.sm-bl-layout {
  width: 100%;
  max-width: 600px;
  margin: auto;

}

.layout-decoration {
  width: 100%;
  padding: 10px;
  border: 1px var(--gray) solid;
  border-top: none;
  box-shadow: 0px 5px 5px 0px var(--grayish);
  background: white;
  min-height: 120vh;
}