.h-menu-item {
    padding-bottom: 0.3rem;
    width: fit-content;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    font-family: "BarlowCondensed-SemiBold";
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
    align-items: center;
    color: var(--black);
    user-select: none;
    display: block;
    height: 1.5rem;
    line-height: 1.8rem;
}

.h-filter-c {
    right: 0px;
    position: absolute;
    margin-top: -1.5rem;
}

.r-h-filter-c {
    right: 0px;
    position: relative;
    margin-top: -1.5rem;
}

.h-filter-c + div {
    margin-top: 1.5rem;
}

.h-filter {
    justify-content: flex-end;
    border-radius: 0.3rem;
    display: flex;
    width: fit-content;
    box-sizing: border-box;
}

.h-filter-item {
    padding: 0.25rem 0.5rem;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    border: 1px solid var(--gray);
    background: white;
    cursor: pointer;
    user-select: none;
}

.h-filter-item:hover {
    box-shadow: 0px 0px 0.2rem 0px var(--gray);
    border: 1px var(--blue) solid;
}

.h-filter-item.first {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.h-filter-item.last {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.h-filter-item + .h-filter-item {
    border-left: none;
}

.h-filter-item.active {
    background: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}

.current-tag {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 20px;
    display: flex;
    align-items: center;
    color: var(--black);
    user-select: none;
    // margin-bottom: 10px;
    line-height: 30px;
}

.search-tag-side-bar {
    color: var(--black);
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    width: 240px;
    height: 30px;
}

.back-to-search-btn {
    width: 1.5rem;
    height: 27px;
    opacity: 60%;
    padding-top: 3px;
    margin-right: 4px;
}

.current-tag-container {
    border-bottom: 1px solid var(--gray);
    display: flex;
    height: fit-content;
    margin-bottom: 10px;
}

.search-layout {
    width: 100%;
    max-width: 880px;
    border: var(--gray) 1px solid;
    border-top: 5px var(--blue) solid;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    min-height: 100vh;
}

.h-menu-bar {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    margin: auto;
    height: 30px;
}

.h-menu-item.active {
    color: var(--blue);
    border-bottom: 3px solid var(--light-blue);
}

.h-menu-item:hover {
    color: var(--blue);
    background: var(--grayish);
    cursor: pointer;
    opacity: 80%;
}

.h-menu-item:active {
    background: var(--gray);
    cursor: pointer;
}
