@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 60px 0;
    min-height: 100vh;
}
.footer {
    margin-top: 20px;
    padding: 10px 0px 0px;
    box-shadow: 0px 0px 4px 0px;
    background-image: url("../../../assets/images/white_bg.jpg");
    border-top: 5px solid var(--blue);
}

.footer .widget1 p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 26px;
}

.footer .socialLinks {
    margin-top: 28px;
}

.socialLinks ul li {
    display: inline-block;
}

.row {
    margin-top: 10px;
    background: white;
    border-left: 3px solid var(--blue);
    padding: 0px;
    box-shadow: 0px 0px 3px 0px #c4c4c4;
}

.socialLinks ul li a i {
    display: block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
    color: #4267b2;
}

.socialLinks ul li a .fa-twitter {
    color: #1da1f2;
}

.socialLinks ul li a .fa-google-plus-g {
    color: #dd5044;
}

.socialLinks ul li a .fa-linkedin-in {
    color: #0177b5;
}

.socialLinks ul li a:hover i {
    color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
    background: #4267b2;
}

.socialLinks ul li a:hover .fa-twitter {
    background: #1da1f2;
}

.socialLinks ul li a:hover .fa-google-plus-g {
    background: #dd5044;
}

.socialLinks ul li a:hover .fa-linkedin-in {
    background: #0177b5;
}

footer .logo {
    max-width: 200px;
}

.footer h5 {
    font-weight: 500;
    margin-bottom: 28px;
    font-weight: 600;
    color: var(--black);
    font-size: 21px;
}

.footer .widget2 .media img {
    margin-right: 20px;
    max-width: 100px;
}

.footer .widget2 .media p {
    font-size: 16px;
    color: var(--black);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    line-height: 26px;
}

.footer .widget2 .media span {
    font-size: 12px;
    color: var(--black);

    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

.footer .widget2 .media {
    margin-bottom: 20px;
}

.footer .widget3 ul li a,
.footer .widget4 ul li a,
.footer .widget5 ul li a {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 5px;
    margin-left: 10px;
    display: block;
}

.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
    color: var(--black);
}

.web-intro {
    position: relative;
    color: var(--black);
    margin-top: 4px;
    margin: auto;
    border-left: 3px solid var(--gray);
    margin-left: 10px;
    line-height: 20px;
    font-family: "Arial";
}

.footer .widget4 h5,
.footer .widget3 h5,
.footer .widget5 h5 {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 3px;
    font-weight: 600;
    margin-top: 10px;
    color: var(--blue);
    font-size: 17px;
}

.copyRightArea {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0px 5x;
}

.copyRightArea p {
    color: rgba(255, 255, 255, 0.6);
}

ul.footer-social {
    float: right;
}

ul.footer-social li {
    display: inline;
    margin-right: 16px;
}

ul.footer-social i {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    font-size: 16px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 800;
}

ul.footer-social i.fa-facebook-f {
    background: var(--blue);
}

ul.footer-social i.fa-envelope {
    background: var(--red);
}

ul.footer-social li:last-child {
    margin-right: 0px;
}

ul.footer-social i:hover {
    background: var(--gray);
    color: #fff;
}
